# Maxfiy ma'lumotlar - HECH QACHON githubga yuklanmasin!
.env

# Ma'lumotlar bazasi fayllari
users.json
shikoyatlar.json

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg
.eggs/

# Virtual muhit
venv/
env/
.venv/
.env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
